[submodule "dscv/rcv/backends/blast"]
	path = dscv/rcv/backends/blast
	url = git://itgdev.igroup.ispras.ru/blast.git
[submodule "rule-instrumentor/aspectator"]
	path = rule-instrumentor/aspectator
	url = git://itgdev.igroup.ispras.ru/aspectator.git
[submodule "kernel-rules"]
	path = kernel-rules
	url = git://itgdev.igroup.ispras.ru/kernel-rules.git
[submodule "dscv/rcv/backends/cpachecker"]
	path = dscv/rcv/backends/cpachecker
	url = git://itgdev.igroup.ispras.ru/cpachecker.git
