[submodule "dscv/rcv/backends/blast"]
	path = dscv/rcv/backends/blast
	url = ../blast.git
[submodule "kernel-rules"]
	path = kernel-rules
	url = ../kernel-rules.git
[submodule "dscv/rcv/cil"]
	path = dscv/rcv/cil
	url = ../cil.git
[submodule "ri/cif"]
	path = ri/cif
	url = ../cif.git
[submodule "dscv/rcv/backends/cpachecker"]
	path = dscv/rcv/backends/cpachecker
	url = ../cpachecker.git
