/* General scheme style. */
#ETVErrorTrace
{
  background: #FFFFEB;
  font-size: 10px;
  line-height: normal;
  overflow: scroll;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#ETVErrorTraceHeader
{
  background: #F9FFBC;
  font-size: 14px;
  height: 52px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#ETVErrorTraceHeaderHiddenMenu
{
  display: none;
}

#ETVErrorTraceWindow
{
  vertical-align: top;
}

#ETVGeneralWindow
{
  border: 4px groove blue;
  font-size: 12px;
  font-family: monospace;
}

.ETVSrc
{
  background: #F6FFF7;
  font-size: 12px;
  line-height: normal;
  margin: 0px;
  white-space: pre;
}

#ETVSrcWindow
{
  vertical-align: top;
}

#ETVTabs 
{
  background: #F3FFFA;
}

/* Show hide meny style. */
#ETVShowHideMenuMain
{
  float: left;
  height: 50px;
  line-height: 50px;
}

.ETVShowHideMenuMainItem
{
  display: inline;
  float: left;
  border: 1px solid #000000;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
}

#ETVShowHideMenuOthers
{
  display: inline;
  margin: 0;	
  padding: 0;	
}

#ETVShowHideMenuOthers li 
{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#ETVShowHideMenuOthers li div
{
  display: block;
  padding: 0px 10px 0px 10px;
  margin: 0;
  height: 50px;
  line-height: 50px;
  color: #0000FF;
  border: 1px solid #000000;
}

#ETVShowHideMenuOthers li div:hover
{
  color: #0000CC;
}

#ETVShowHideMenuOthers li form
{
  background: #F9FFBC;
  border: 1px solid #000000;
  margin: 0;
  padding: 5px 5px 5px 5px;
  position: absolute;
}

#ETVShowHideMenuOthers li form input
{
  display: inline;
  float: none;
}

#ETVShowHideMenuOthers li form input:hover
{
  background: #FCFFD5;
}

#ETVShowHideMenuOthers li.ETVactive div 
{
  background-color: #F3FF83;
}

/* Source code tabs style. */
#ETVTabsHeader 
{
  height: 50px;
  list-style:none outside none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#ETVTabsHeader li
{
  border: 1px solid #000000;
  float: left;
  background: #C7FFE7;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

#ETVTabsHeader li a
{
  color: #000000;
  display: block;
  font-size: 14px;
  outline: none;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#ETVTabsHeader li a:hover
{
  background: #AFFCDA;
}

#ETVTabsHeader li.ETVActive 
{
}

#ETVTabsHeader li.ETVActive a 
{
  background: #3FFFAC;  
  font-weight: bold;
}

#ETVTabs div 
{
  clear: both;
  overflow: auto;  
}

#ETVTabs div span.ETVMarked
{
  background: #5CC99A;
}

/* Error trace style. */
.ETVAssert
{
  color: green;
  font-size: 8pt;
}

.ETVAssertCondition
{
  color: green;
  font-weight: bold;
  font-size: 8pt;
}

.ETVBlock
{
  color: gray;
  font-size: 6pt;  
}

.ETVDriverEnvFunctionCall
{
  background-color: #F0D1FF;
}

.ETVDriverEnvInit
{
  background-color: #FFD6A1;
}

.ETVEntryPoint
{
  color: red;
  font-weight: bold;
  font-size: 8pt;  
}

.ETVEntryPointBody
{
  color: red;
  font-size: 8pt;  
}

.ETVFunctionBody
{
  color: green;
  font-size: 8pt;
}

.ETVFunctionInitializationBody
{
  color: green;
  font-size: 8pt; 
}

.ETVFunctionCall
{
  color: red;
  font-weight: bold;
  font-size: 8pt;
}

.ETVFunctionCallInitialization
{
  color: red;
  font-style: italic;
  font-size: 8pt;
  width: inherit;
}

.ETVFunctionCallWithoutBody
{
  font-style: italic;
  font-size: 8pt;
}

.ETVFunctionFormalParamName
{
  color: green;
  font-style: italic;
  font-size: 8pt;
  font-weight: normal;
}
.ETVIdentation
{
  font-weight: normal;
  font-size: 8pt;
  white-space: pre;
}

.ETVLineNumber
{
  background-color: #F3F3F3;
  color: black;
  font-weight: normal;
  font-size: 10px;
  font-style: normal;
  white-space: pre;
}

.ETVModelAssert
{
  background-color: #DFE9FF;
}

.ETVModelChangeState
{
  background-color: #CEFFEC;  
}

.ETVModelFuncCall
{
  background-color: #D2E4BB;  
}

.ETVModelReturn
{
  background-color: #F8FFCE;  
}

.ETVModelOther
{
  background-color: #BCAEFD;  
}

.ETVReturn
{
  color: blue;
  font-size: 8pt;
}

.ETVReturnValue
{
  color: blue;
  font-weight: bold;
  font-size: 8pt;
}

.ETVShowHide
{
  font-weight: normal;
  font-size: 8pt;
}

/* Source code style. */
.ETVSrcCKeywords
{
  color: #003399;
  font-weight: bold;
}

.ETVSrcCPPKeywords
{
  color: #248E72;
  font-weight: bold;
}

.ETVSrcComment
{
  color: #9E9E9E;
  font-style: italic;
}

.ETVSrcLineNumber
{
  background-color: #F3F3F3;
  color: black;
  font-weight: normal;
  font-size: 12px;
  font-style: normal;
  white-space: pre;
}

.ETVSrcNumber
{
  color: #298FBA;
  font-weight: bold;
}

.ETVSrcString
{
  color: #0A610A;
  font-weight: bold;
}
