.ETVAssert
{
  color: green;
  font-size: 8pt;
}

.ETVAssertCondition
{
  color: green;
  font-weight: bold;
  font-size: 8pt;
}

.ETVBlock
{
  color: gray;
  font-size: 6pt;  
}

.ETVEntryPoint
{
  color: red;
  font-weight: bold;
  font-size: 8pt;  
}

.ETVEntryPointBody
{
  color: red;
  font-size: 8pt;  
}

.ETVErrorTrace
{
  height: 600px;
  overflow: scroll;
  width: 400px;
  white-space: nowrap;
}

.ETVErrorTraceWindow
{
  vertical-align: top;
}

.ETVFunctionBody
{
  color: green;
  font-size: 8pt;
}

.ETVFunctionInitializationBody
{
  color: green;
  font-size: 8pt; 
}

.ETVFunctionCall
{
  color: red;
  font-weight: bold;
  font-size: 8pt;
}

.ETVFunctionCallInitialization
{
  color: red;
  font-style: italic;
  font-size: 8pt;
  width: inherit;
}

.ETVFunctionCallWithoutBody
{
  font-style: italic;
  font-size: 8pt;
}

.ETVFunctionFormalParamName
{
  color: green;
  font-style: italic;
  font-size: 8pt;
  font-weight: normal;
}

.ETVGeneralWindow
{
  border: 4px groove blue;
  font-size: 12px;
  font-family: monospace;
}

.ETVIdentation
{
  font-weight: normal;
  font-size: 8pt;
  white-space: pre;
}

.ETVReturn
{
  color: blue;
  font-size: 8pt;
}

.ETVReturnValue
{
  color: blue;
  font-weight: bold;
  font-size: 8pt;
}

.ETVShowHide
{
  font-weight: normal;
  font-size: 8pt;
}

.ETVSrc
{
  height: 600px;
  overflow: scroll;
  width: 600px;
  white-space: pre;
}

.ETVSrcWindow
{  
  vertical-align: top;
  width: 600px;
}
