.ETVAssert
{
  color: green;
  font-size: 8pt;
}

.ETVAssertCondition
{
  color: green;
  font-weight: bold;
  font-size: 8pt;
}

.ETVBlock
{
  color: gray;
  font-size: 6pt;  
}

.ETVEntryPoint
{
  color: red;
  font-weight: bold;
  font-size: 8pt;  
}

.ETVEntryPointBody
{
  color: red;
  font-size: 8pt;  
}

.ETVErrorTrace
{
  background: #FFFFCC;
  height: 600px;
  overflow: scroll;
  width: 400px;
  white-space: nowrap;
}

.ETVErrorTraceWindow
{
  vertical-align: top;
}

.ETVFunctionBody
{
  color: green;
  font-size: 8pt;
}

.ETVFunctionInitializationBody
{
  color: green;
  font-size: 8pt; 
}

.ETVFunctionCall
{
  color: red;
  font-weight: bold;
  font-size: 8pt;
}

.ETVFunctionCallInitialization
{
  color: red;
  font-style: italic;
  font-size: 8pt;
  width: inherit;
}

.ETVFunctionCallWithoutBody
{
  font-style: italic;
  font-size: 8pt;
}

.ETVFunctionFormalParamName
{
  color: green;
  font-style: italic;
  font-size: 8pt;
  font-weight: normal;
}

.ETVGeneralWindow
{
  border: 4px groove blue;
  height: 600px;
  font-size: 12px;
  font-family: monospace;
}

.ETVIdentation
{
  font-weight: normal;
  font-size: 8pt;
  white-space: pre;
}

.ETVLineNumber
{
  background-color: gray;
  color: black;
  font-weight: normal;
  font-size: 8pt;
  font-style: normal;
  white-space: pre;
}

.ETVReturn
{
  color: blue;
  font-size: 8pt;
}

.ETVReturnValue
{
  color: blue;
  font-weight: bold;
  font-size: 8pt;
}

.ETVShowHide
{
  font-weight: normal;
  font-size: 8pt;
}

.ETVSyntaxCKeywords
{
  color: #003399;
  font-weight: bold;
}

.ETVSyntaxCPPKeywords
{
  color: #48AE7E;
}

.ETVSyntaxComment
{
  color: #FF3333;
  font-style: italic;
}

.ETVSyntaxNumber
{
  color: #009933;
}

.ETVSyntaxString
{
  color: #009933;
}

/*
.ETVSrc
{
  height: 600px;
  width: 600px;
}

.ETVSrcFile
{
  height: 500px;
  overflow: auto;
  width: 600px;
}
*/

.ETVSrcWindow
{
  vertical-align: top;
}

/* Here is the custom tabs css. */
#ETVTabs 
{
  width: 600px;
}

.ETVTabsHeader
{
  height: 100px;
  overflow: scroll;

  white-space: nowrap;    
}
/*
#ETVTabs 
{
  font-size: 90%;
  margin: 20px 0;
}

#ETVTabs  
{
  background: #E3FEFA;
  float: left;
  padding-top: 4px;
  width: 600px;
}

#ETVTabs li 
{
  margin-left: 8px;
  list-style: none;
}

#ETVTabs li,
#ETVTabs li a 
{
  float: left;
}

#ETVTabs span a 
{
  text-decoration: none;
  padding: 18px;
  color: #0073BF;
  font-weight: bold;
}
*/
#ETVTabs span
{
/*  font-size: 150%;*/
}

#ETVTabs span.ETVActive 
{
 background: red;
}

#ETVTabs span.ETVActive a 
{
  color: green;
}

#ETVTabs div 
{
  background: #ECF9EB;
  clear: both;
/*  padding: 20px; */
  height: 550px;
  overflow: auto;  
}

a.ETVMarked
{
  background: red;
}
