##################################################
#                                                #
#   Simple configureation for debug LDVServer    #
#                                                #
##################################################

LDVServerAddress=localhost

VSPort=1111

WSPort=11111

#
# 
#
WorkDir=/mnt/second/tmp/

#
#
#

#
# For stats DB
#
StatsDBUser=statsuserd
StatsDBPass=statspass
StatsDBName=statsdb
StatsDBHost=10.10.2.82
StatsDBPort=3306

LogLevel=100


#
# For ldv face
#
ModelsDBPath=/mnt/second/ldvi/main//kernel-rules/model-db.xml
RulesDBPath=/mnt/second/ldvi/main//kernel-rules/rules/DRVRULES_en.trl

#
# toface - all debug messages printed to web-page
# as default debug mode off
#
LDVFaceDebugMode=off

ErrorTraceVisualizer=/mnt/second/ldvi/main//bin/error-trace-visualizer.pl

#
# Temp dir for ldvface: chown web-server-users -R tmpdir
#
WSTempDir=/mnt/second/tmp/

#
# Max driver size for upload in bytes
#
DriverMaxSizeForUpload=1500000

CleanH2OnRestart=false
CleanStatsOnRestart=false

#
# Current selected environments
#
env=linux-2.6.32.12:32_1,77_1,08_1,29_1,37_1,43_1,60_1,68_1,39_1
env=linux-2.6.33.3:32_1,77_1,08_1,29_1,37_1,43_1,60_1,68_1,39_1
env=linux-2.6.34.1:32_1,77_1,08_1,29_1,37_1,43_1,60_1,68_1,39_1

# www docs dir (for installation update mode)
wwwdocs=/srv/www/htdocs

# script for creating exernal db
StatsDBScript=/script/result_schema.sql
InnerDBScript=/script/inner_schema.sql

# connection pool options
InnerDBConnectionPool=off
StatsDBConnectionPool=off

# connection options
StatsDBConnectOptions=?autoReconnect=true
#InnerDBConnectOptions=;LOCK_MODE=3;AUTO_SERVER=TRUE;AUTO_RECONNECT=TRUE
InnerDBConnectOptions=;LOCK_MODE=2;AUTO_RECONNECT=TRUE

# migrate options:
#
# installed scripts
# 
StatsDBMigratesDir=/migrates
InnerDBMigratesDir=/migrates

StatsDBUpdateVersion=0
InnerDBUpdateVersion=0

#
# H2 database options
#
InnerDBUser=ldvsuser
InnerDBPass=ldvs1604
InnerDBHost=localhost

#
# Directory for backups
#
BackupDir=backupdir

#
# Backup interval in minutes
#
BackupInterval=5040


LDVInstalledDir=/mnt/second/ldvoi
