/* Style of elements of an error trace visualized. */
#ETVErrorTrace
{
  background: #FFFFEB;
  font-size: 12px;
  line-height: normal;
  overflow: scroll;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#ETVErrorTraceHeader
{
  background: #F9FFBC;
  font-size: 14px;
  height: 32px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#ETVErrorTraceHeaderHiddenMenu
{
  display: none;
}

#ETVErrorTraceWindow
{
  vertical-align: top;
}

#ETVGeneralWindow
{
  border: 4px groove #0000CB;
  font-size: 12px;
  font-family: monospace;
}

.ETVGeneralWindowHeader
{
  color: #0000CB;
  font-family: verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0px 7px 0px;
  text-align: center;
}

.ETVSrc
{
  background: #F6FFF7;
  font-size: 12px;
  line-height: normal;
  margin: 0px;
  white-space: pre;
}

#ETVSrcWindow
{
  vertical-align: top;
}

/* Menu style. */
#ETVMenuMain
{
  float: left;
  height: 30px;
  line-height: 30px;
}

.ETVMenuMainItem
{
  display: inline;
  float: left;
  border: 1px solid #000000;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
}

#ETVMenuOthers
{
  display: inline;
  margin: 0;
  padding: 0;
}

#ETVMenuOthers li
{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#ETVMenuOthers li div
{
  display: block;
  padding: 0px 10px 0px 10px;
  margin: 0;
  height: 30px;
  line-height: 30px;
  color: #0000FF;
  border: 1px solid #000000;
}

#ETVMenuOthers li div:hover
{
  color: #0000CC;
}

#ETVMenuOthers li form
{
  background: #F9FFBC;
  border: 1px solid #000000;
  margin: 0;
  padding: 5px 5px 5px 5px;
  position: absolute;
}

#ETVMenuOthers li form input
{
  display: inline;
  float: none;
}

#ETVMenuOthers li form input:hover
{
  background: #FCFFD5;
}

#ETVMenuOthers li.ETVactive div
{
  background-color: #F3FF83;
}

/* Source code tabs style. */
#ETVTabs
{
  background: #F3FFFA;
}

#ETVTabsHeader
{
  height: 30px;
  list-style:none outside none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#ETVTabsHeader li
{
  border: 1px solid #000000;
  float: left;
  background: #DAEEE5;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

#ETVTabsHeader li a
{
  color: #000000;
  display: block;
  font-size: 14px;
  outline: none;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#ETVTabsHeader li a:hover
{
  background: #C7FFE7;
}

#ETVTabsHeader li.ETVActive
{
  border-bottom-style: none;
}

#ETVTabsHeader li.ETVActive a
{
  background: #F6FFF7;
  font-weight: bold;
}

#ETVTabs div
{
  clear: both;
  overflow: auto;
}

#ETVTabs div span.ETVMarked
{
  background: #5CC99A;
}

/* Style of ET elements. */
.ETVAssume
{
  color: #5E0000;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.ETVAssumeCond
{
  color: #5E0000;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

.ETVBlock
{
  color: #733200;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.ETVCall
{
  color: #5A0024;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

.ETVCallBody
{
  color: #5A0024;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

.ETVCallEntry
{
  color: #815600;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

.ETVCallEntryBody
{
  color: #815600;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

.ETVCallInit
{
  color: #797A53;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

.ETVCallInitBody
{
  color: #797A53;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

.ETVCallSkip
{
  color: #8E5B58;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

.ETVCallFormalParamName
{
  color: #A1884F;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

.ETVDecl
{
  color: #A3652A;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
}

.ETVRet
{
  color: #9A5C0B;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.ETVRetVal
{
  color: #9A5C0B;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

/* Style of ET model elements. */
.ETVModelAssert
{
  color: #B30095;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

.ETVModelCall
{
  color: #3F005A;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

.ETVModelCallBody
{
  color: #3F005A;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

.ETVModelCallCall
{
  color: #3F005A;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.ETVModelCallCallBody
{
  color: #3F005A;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.ETVModelChangeState
{
  color: #7E009E;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

.ETVModelOther
{
  color: #5E4B6B;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

.ETVModelRet
{
  color: #69308E;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

/* Style of ET DEG elements. */
.ETVDEGCall
{
  color: #801B14;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

.ETVDEGInit
{
  color: #C09359;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

/* Style of ET auxiliary elements. */
/* Abbreviation for identation */
.ETVI
{
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  white-space: pre;
}

/* Abbreviation for line number */
.ETVLN
{
  background-color: #F3F3F3;
  color: black;
  font-weight: normal;
  font-size: 12px;
  font-style: normal;
  white-space: pre;
}

.ETVExpand
{
  font-weight: normal;
  font-size: 8pt;
}

/* Source code style. */
/* Abbreviation for C keywords */
.ETVSrcCK
{
  color: #003399;
  font-weight: bold;
}

/* Abbreviation for preprocessor keywords */
.ETVSrcCPPK
{
  color: #248E72;
  font-weight: bold;
}

/* Abbreviation for comment */
.ETVSrcC
{
  color: #9E9E9E;
  font-style: italic;
}

/* Abbreviation for line number */
.ETVSrcLN
{
  background-color: #F3F3F3;
  color: black;
  font-weight: normal;
  font-size: 12px;
  font-style: normal;
  white-space: pre;
}

.ETVSrcNumber
{
  color: #298FBA;
  font-weight: bold;
}

.ETVSrcString
{
  color: #0A610A;
  font-weight: bold;
}
